<html>
    <head>

        <title>RaspCam Home</title>

        <link rel="stylesheet" href="{{ static_url("css/normalize.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/skeleton.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/custom.css") }}">
    </head>

    <body>

        <header>
            <div class="container u-full-width">
                <div class="row">
                    <div class="two columns logo">RaspCam</div>
                    <div class="eight columns">Raspberry Pi Camera System</div>
                    <div class="one columns headerMenuLink">Cameras</div>
                    <div class="one columns headerMenuLink">Login</div>
                </div>
            </div>
        </header>

        <div class="container feedHolder u-full-width">
            {% for list in cameras %}
                <div class="row">
                    {% for cam in list %}
                        <div class="six columns u-full-width feed">
                            <!--<video class="feedImg" width="1080" controls>
                                <source src="feed/liveFeed.h264" type="video/h264">
                            </video> -->
                            {% if cam.location == "/feed/" %}
                                <a href="/camera/">
                            {% else %}
                                <a href="{{escape(cam.location.replace('feed/', '') + 'camera/')}}">
                            {% end %}
                                    <img id="update-{{ escape(cam.name) }}" class="feedImg" src="{{ escape(cam.location) }}"/></a>
                            <script>
                                setInterval(function() {
                                    document.getElementById("update-{{ escape(cam.name) }}").src = '{{ escape(cam.location) }}?' + + new Date().getTime();
                                }, 300);
                            </script>
                            <div class="row cameraInfo">
                                <div class="six columns">{{ escape(cam.name) }}</div>
                                <div class="six columns"></div>
                            </div>
                        </div>
                    {% end %}
                </div>
            {% end %}
        </div>

        <div class="container u-full-width">
            <footer>
                <script>
                // system stats update
                setInterval(function() {
                     var hr = new XMLHttpRequest();
                     hr.onreadystatechange = function() {
                        if (hr.readyState == 4 && hr.status == 200) {
                            document.getElementById("system").innerHTML = hr.responseText;
                        }
                     }
                     hr.open("GET", "system/", true);
                     hr.send(null);
                }, 1000);
                </script>
                <div id="system"></div>
            </footer>
        </div>
    </body>

</html>