.feedimg {
    width:100%;
    height:100%;
    object-fit: contain;
}

.feed {
    height:252px;
    margin-bottom: 40px;
}

.cameraInfo {
    background-color: #333333;
    color: #fff;
    padding: 5px;
}

.logo {
    Font-Size: 30px;
}

header {
    background-color: #263238;
    height: 60px;
    line-height: 60px;
    color: #F9F9F9;
    Font-Size: 15px;
}

footer {
    background-color: #263238;
    color: #F9F9F9;
}

#system {
float: right;
}

.headerMenuLink:hover {
    background-color: #263238;
}

body {
    background-color: #CCCCCC;
}

.feedHolder {
    padding: 15px;
    background: #F9F9F9;
    min-width: 478px;
}

.login {
    margin-left: auto;
    margin-right: auto;
}
