.feedimg {
    width:100%;
    height:100%;
    object-fit: contain;
}

.feed {
    height:300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo {
    Font-Size: 30px;
}

header {
    background-color: #263238;
    height: 60px;
    line-height: 60px;
    color: #F9F9F9;
    Font-Size: 15px;
}

.headerMenuLink:hover {
    background-color: #263238;
}

body {
    background-color: #CCCCCC;
}

.feedHolder {
    padding: 15px;
    background: #F9F9F9;
}

